html{
    font-size: 16px;
}
*{
    margin: 0px;
}
body{
    background-color: #B4EF98;
}
.container{
    display: flex;
    justify-content: flex-end;
    height:80px;
}
nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #76d164;
}
nav li{
    display: inline;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 42px;
    color: #000000;
}
.main-svg{
    display: flex;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 90%;
    top: 55%;
    z-index: -1;
    align-items: center;
    justify-content: center;
}
.main-heading{
    position: absolute;
    left: 12%;
    top: 13%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    font-size: 3.7vw; /*dividing 48px by 1024 the height to get vw*/
    line-height: 8vh;

    color: #000000;
}

.main-middle-text{
    position: absolute;
    width: 87%;
    height: 9%;
    left: 12%;
    top: 34%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    font-size: 2.929vw;
    line-height: 6vh;

    color: #000000;
}


.main-bottom-text{
    position: absolute;
    width: 39.7%;
    height: 7.5%;
    left: 12%;
    top: 59%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 56px;

    color: #000000;
}
.main-button{
    display: flex;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    left: 12%;
    top: 74.86%;;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 2.1vw;
    line-height: 4.55vh;
    width: 14%;
    height: 5.5%;
    background: #40DB6B;
    color: #000000;
    border-radius: 7px;
}
.main-button:hover{
    background-color: #69d688;
}
.main-last-text{
    position: absolute;
    width: 70.5%;
    height: 21.7%;
    left: 19%;
    top: 105%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 56px;

    color: #000000;
}
.bottom-container{
    position: absolute;
    width: 100%;
    height:11% ;
    top: 145%;
    background: #73dd91ea;
}
.bottom-text-left{
    position: absolute;
    width: 19%;
    height: 7.6%;
    left: 6.9%;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    font-size: 1.7vw;
    line-height: 23px;

    color: #1E1B1B;
}
.bottom-text-middle1{
    position: absolute;
    top: 10%;
    left:40%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    font-size:2vw ;
    line-height: 28px;

    color: #1E1B1B;
}
.bottom-text-middle2{
    position: absolute;
    top: 49%;
    left:46%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    font-size: 1.4vw ;
    line-height: 23px;

    color: #1E1B1B;
}
.bottom-text-middle3{
    position: absolute;
    text-decoration: none;
    top:74%;
    left:45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-size: 1vw;
    line-height: 18px;
    color: #131212;
}
.bottom-text-middle4{
    position:absolute;
    text-decoration: none;
    top:74%;
    left:52%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-size: 1vw;
    line-height: 18px;
    color: #131212;
}
.logo{
    position: absolute;
    top:19%;
    left: 1.5%;
}
.insta{
    position: absolute;
    top:64%;
    left: 87%;
}
.twitter{
    position: absolute;
    top:64%;
    left:90.5%;
}
.discord{
    position: absolute;
    top:64%;
    left:94%;
}
.github{
    position: absolute;
    top:64%;
    left:97.5%;
}
/*When doing media queries make sure to do whatever you are editing underneth the styling 
you are going to change at a specfic width*/
@media screen and (max-width: 600px) {
    nav li{
        font-size: 6vw;
    }
    .main-heading{
        position: absolute;
        font-size: 8vw;
        width: 85%;
        line-height: 5vh;
    }
    .main-middle-text{
        position: absolute;
        width: 70%;
        font-size: 6vw;
        line-height: 5vh;
    }
    .main-bottom-text{
        position: absolute;
        top:65% ;
        font-size: 6vw;
        width: 50%;
    }
    .main-button{
        position: absolute;
        width: 23%;
        height: 4.5%;
        font-size: 4.3vw;
    }
    .main-last-text{
        position: absolute;
        left: 5%;
        top: 110%;
        font-size: 6vw;
        width:90%;
        line-height: 30px;
    }
    .bottom-text-left{
        position: absolute ;
        font-size: 2.5vw;
        top: 16%;
        left: 2%;
        width: 30%;
        line-height: 15px;
    }
    .bottom-text-middle1{
        font-size: 3vw;
        width: 40%;
        left: 35%;
    }
    .bottom-text-middle2{
        position: absolute;
        top: 39%;
        left:43.5%;
        font-size: 2.9vw;
    }
    .bottom-text-middle3{
        left: 37%;
        top: 65%;
        font-size: 2.5vw;
    }
    .bottom-text-middle4{
        top: 65%;
        font-size: 2.5vw;
        left: 56%;
    }
    .insta{
        left: 72.5%;
        height: 25%;
    }
    .twitter{
        left: 79%;
        height: 25%;
    }
    .discord{
        left: 87%;
        height: 25%;
    }
    .github{
        left: 93%;
        height: 25%;
    }
    .logo{
        top: 51%;
        width: 38px;
        height: 40px;
    }
  }


@media screen and (max-width:568px){
    .bottom-text-middle1{
        width: 60%;
    }
    .logo{
        top: 59%;
        width: 23px;
        height: 25px;
    }
}
