*{
    margin: 0px;
}
body{
    background-color: #cdeebe;
}
.container{
    display: flex;
    justify-content: flex-end;
}
nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #76d164;
}
nav li{
    display: inline-flex;
    padding-top: 10px;
    margin-right: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}
.gfw-iframe{
    position: absolute;
    top: 1024px;
}
.main-container{
    position: absolute;
    width: 1440px;
    height: 187px;
    left: 0px;
    top: 87px;
    background: #98DDA3;
}
.main-text1{
    position: absolute;
    width: 600px;
    height: 42px;
    left: 17px;
    top: 23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 400px;
    font-size: 34px;
    line-height: 42px;

    color: #000000;
}
.main-text2{
    position: absolute;
    width: 869px;
    height: 40px;
    left: 17px;
    top: 84px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */

    color: #000000;
}
.main-text3{
    position: absolute;
    width: 608px;
    height: 40px;
    left: 17px;
    top: 142px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */

    color: #000000;

}
.main-text2-section{
    text-decoration: none;
    color: #0B5F22;

}
.folium-map{
    position: absolute;
    top: 307px;
    left:48px
}
.side-container{
    position: absolute;
    width: 203px;
    height: 269px;
    left: 1206px;
    top: 307px;

    background: #B4EF98;
    border-radius: 9px;
}
.side-container-text{
    position: absolute;
    width: 176px;
    height: 160px;
    left: 27px;
    top: 36px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 40px;

    color: #000000;
}
.gfw-iframe{
    position: absolute ;
    top:1206px;
    left:48px;
}
.gfw-text{
    position: absolute;
    width: 624px;
    height: 56px;
    left: 48px;
    top: 1094px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

}
.gfw-container{
    position: absolute;
    width: 566px;
    height: 16px;
    left: 46px;
    top: 1153px;
    
    background: #AEE69A;
}
.nasa-text{
    position: absolute;
    width: 687px;
    height: 56px;
    left: 46px;
    top: 1846px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #000000;
}
.nasa-container{
    position: absolute;
    width: 750px;
    height: 16px;
    left: 46px;
    top: 1905px;

    background: #AEE69A;
}
.nasa-iframe{
    position: absolute;
    top:1990px;
    left:48px;
}
.bottom-container{
    position: absolute;
    width: 100%;
    height:11% ;
    top: 390%;
    background: #73dd91ea;
}
.bottom-text-left{
    position: absolute;
    width: 19%;
    height: 7.6%;
    left: 6.9%;
    top: 30%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    font-size: 1.7vw;
    line-height: 23px;

    color: #1E1B1B;
}
.bottom-text-middle1{
    position: absolute;
    top: 10%;
    left:40%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    font-size:2vw ;
    line-height: 28px;

    color: #1E1B1B;
}
.bottom-text-middle2{
    position: absolute;
    top: 49%;
    left:46%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    font-size: 1.4vw ;
    line-height: 23px;

    color: #1E1B1B;
}
.bottom-text-middle3{
    position: absolute;
    text-decoration: none;
    top:74%;
    left:45%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-size: 1vw;
    line-height: 18px;
    color: #131212;
}
.bottom-text-middle4{
    position:absolute;
    text-decoration: none;
    top:74%;
    left:52%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-size: 1vw;
    line-height: 18px;
    color: #131212;
}
.logo{
    position: absolute;
    top:19%;
    left: -25%;
    width:57%;
    height:79%;
}
.insta{
    position: absolute;
    top:64%;
    left: 87%;
}
.twitter{
    position: absolute;
    top:64%;
    left:90.5%;
}
.discord{
    position: absolute;
    top:64%;
    left:94%;
}
.github{
    position: absolute;
    top:64%;
    left:97.5%;
}
/*When doing media queries make sure to do whatever you are editing underneth the styling 
you are going to change at a specfic width*/
@media screen and (max-width: 600px) {
    nav li{
        font-size: 6vw;
    }
    .main-heading{
        position: absolute;
        font-size: 8vw;
        width: 85%;
        line-height: 5vh;
    }
    .main-middle-text{
        position: absolute;
        width: 70%;
        font-size: 6vw;
        line-height: 5vh;
    }
    .main-bottom-text{
        position: absolute;
        top:65% ;
        font-size: 6vw;
        width: 50%;
    }
    .main-button{
        position: absolute;
        width: 23%;
        height: 4.5%;
        font-size: 4.3vw;
    }
    .main-last-text{
        position: absolute;
        left: 15%;
        top: 110%;
        font-size: 5vw;
        width:80%;
        line-height: 30px;
    }
    .bottom-text-left{
        position: absolute ;
        font-size: 2.5vw;
        width: 30%;
        line-height: 15px;
    }
    .bottom-text-middle1{
        font-size: 3vw;
        width: 40%;
        left: 35%;
    }
    .bottom-text-middle2{
        position: absolute;
        top: 39%;
        left:43.5%;
        font-size: 2.9vw;
    }
    .bottom-text-middle3{
        left: 37%;
        top: 65%;
        font-size: 2.5vw;
    }
    .bottom-text-middle4{
        top: 65%;
        font-size: 2.5vw;
        left: 56%;
    }
  }
.thanks-message{
    position: absolute;
    width: 1278px;
    height: 56px;
    left: 94px;
    top: 2760px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;

    color: #000000;

}